In [1]:
# Dependencies and Setup
import os
import pandas as pd

path = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(path)

In [3]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [27]:
# Checking data types
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [28]:
# Checking if duplicate signatures (SN) exist
df["SN"].value_counts()

Lisosia93      5
Idastidru52    4
Iral74         4
Phyali88       3
Chamjask73     3
              ..
Haellysu29     1
Ealrion88      1
Eoral49        1
Assjaskan56    1
Fironon91      1
Name: SN, Length: 576, dtype: int64

In [67]:
# Player Count

# Total players by counting unique signatures
SN_uniq = df["SN"].nunique()

In [98]:
# Print results as dataframe
totplayers_dict = {"Total Players": [SN_uniq]}
pd.DataFrame(totplayers_dict, columns = ["Total Players"])

   Total Players
0            576

In [94]:
# Purchasing Analysis (Total) - PAT

# Unique item count
pat1 = df["Item ID"].nunique()
print(pat1)

183

In [84]:
# Average purchase price
pat2 = df.loc[df["Item ID"].unique(), "Price"].mean()
print(pat2)

3.110491803278688

In [86]:
# Total number of purchases
pat3 = df["Purchase ID"].nunique()
print(pat3)

780

In [87]:
# Total revenue
pat4 = df["Price"].sum()
print(pat4)

2379.77

In [102]:
# Print Purchasing Analysis (Total) results
pat = [{"Number of Unique Items":pat1, "Average Price":pat2, "Number of Purchases":pat3, "Total Revenue":pat4}]
(pd.DataFrame(pat)).round({"Number of Unique Items":0, "Average Price":2, "Number of Purchases":0, "Total Revenue":2})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.11                  780        2379.77