In [335]:
# dependencies and setup
import os
import pandas as pd

path = os.path.join("Resources", "purchase_data.csv")

# read purchasing data and store into pandas data frame
pymoli_df = pd.read_csv(path)

In [336]:
pymoli_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [337]:
# checking data types
pymoli_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [338]:
# checking if duplicate screen names exist
pymoli_df["SN"].value_counts()

Lisosia93       5
Iral74          4
Idastidru52     4
Hiaral50        3
Iri67           3
               ..
Aerillorin70    1
Eosrirgue62     1
Minduli80       1
Indirrian56     1
Iadueria43      1
Name: SN, Length: 576, dtype: int64

In [339]:
# Player Count
# assumption: duplicate screen names represent the same person

# total players by counting unique screen names
tot_players_count = pymoli_df["SN"].nunique(dropna = True)
tot_players_count

576

In [340]:
# print results as dataframe
tot_players_df = pd.DataFrame({"Total Players":[tot_players_count]})
tot_players_df

   Total Players
0            576

In [341]:
# Purchasing Analysis (Total)

# unique item count
p1 = pymoli_df["Item ID"].nunique()
p1

183

In [342]:
# average purchase price
p2 = "$" + str(round((pymoli_df.loc[pymoli_df["Item ID"].unique(), "Price"].mean()), 2))
p2

'$3.11'

In [343]:
# total number of purchases
p3 = pymoli_df["Purchase ID"].nunique()
p3

780

In [344]:
# total revenue
p4 = "$" + str('{:,}'.format(round((pymoli_df["Price"].sum()), 2)))
p4

'$2,379.77'

In [345]:
# print purchasing analysis (total) results
panal_tot_df = pd.DataFrame({
    "Number of Unique Items": [p1], 
    "Average Price": [p2], 
    "Number of Purchases": [p3], 
    "Total Revenue": [p4]})

panal_tot_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.11                  780     $2,379.77

In [346]:
# Gender Demographics

# count of male players
M_count = pymoli_df[pymoli_df["Gender"] == "Male"]["SN"].nunique(dropna=True)
M_count

484

In [347]:
# percentage of male players    
M_percent = str(round((M_count/tot_play_count*100), 2)) + "%"
M_percent

'84.03%'

In [348]:
# count of female players
F_count = (pymoli_df[pymoli_df["Gender"] == "Female"]["SN"].unique()).size
F_count

81

In [349]:
# percentage of female players    
F_percent = str(round((F_count/tot_play_count*100), 2)) + "%"
F_percent

'14.06%'

In [350]:
# count of other / non-disclosed players
ON_count = (pymoli_df[pymoli_df["Gender"] == "Other / Non-Disclosed"]["SN"].unique()).size
ON_count

11

In [351]:
# percentage of other / non-disclosed players
ON_percent = str(round((ON_count/tot_play_count*100), 2)) + "%"
ON_percent

'1.91%'

In [352]:
gender_demo = ({"Total Count":[F_count, M_count, ON_count],
              "Percentage of Players":[F_percent, M_percent, ON_percent]})

gender_demo_df = pd.DataFrame(gender_demo, index = ["Female", "Male", "Other / Non-Disclosed"])

gender_demo_df

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [353]:
# Purchasing Analysis (Gender)

# purchase count by gender

# purchase count for females
F_pcount = pymoli_df.loc[pymoli_df["Gender"] == "Female"]["Purchase ID"].count()
F_pcount

113

In [354]:
# purchase count for males
M_pcount = pymoli_df.loc[pymoli_df["Gender"] == "Male"]["Purchase ID"].count()
M_pcount

652

In [355]:
# purchase count for other / non-disclosed
ON_pcount = pymoli_df.loc[pymoli_df["Gender"] == "Other / Non-Disclosed"]["Purchase ID"].count()
ON_pcount

15

In [356]:
# average purchase price by gender

# average purchase price for females
F_avg_pp = format((pymoli_df.loc[pymoli_df["Gender"] == "Female", "Price"].mean()), ".2f")
F_avg_pp

'3.20'

In [357]:
# average purchase price for males
M_avg_pp = format((pymoli_df.loc[pymoli_df["Gender"] == "Male", "Price"].mean()), ".2f")
M_avg_pp

'3.02'

In [358]:
# average purchase price for other / non-disclosed
ON_avg_pp = format((pymoli_df.loc[pymoli_df["Gender"] == "Other / Non-Disclosed", "Price"].mean()), ".2f") 
ON_avg_pp

'3.35'

In [359]:
# total purchase value by gender

# total purchase value for females
F_tpv = pymoli_df.loc[pymoli_df["Gender"] == "Female"]["Price"].sum()
F_tpv

361.94

In [360]:
# total purchase value for males
M_tpv = pymoli_df.loc[pymoli_df["Gender"] == "Male"]["Price"].sum()
M_tpv

1967.64

In [361]:
# total purchase value for other / non-disclosed
ON_tpv = pymoli_df.loc[pymoli_df["Gender"] == "Other / Non-Disclosed"]["Price"].sum()
ON_tpv

50.19

In [362]:
# average purchase total per person by gender

# average purchase total per person for females
F_avg_ptot = format((F_tpv/F_count), ".2f")
F_avg_ptot

'4.47'

In [363]:
# average purchase total per person for males
M_avg_ptot = format((M_tpv/M_count), ".2f")
M_avg_ptot

'4.07'

In [364]:
# average purchase total per person for other / non-disclosed
ON_avg_ptot = format((ON_tpv/ON_count), ".2f")
ON_avg_ptot

'4.56'

In [365]:
# saving results to new dataframe and printing table

panal_gender_df = pd.DataFrame({ 
                "Gender":["Female", "Male", "Other / Non-Disclosed"], 
                "Purchase Count":[F_pcount, M_pcount, ON_pcount], 
                "Average Purchase Price":[F_avg_pp, M_avg_pp, ON_avg_pp],
                "Total Purchase Value":[F_tpv, M_tpv, ON_tpv],
                "Avg Total Purchase per Person":[F_avg_ptot, M_avg_ptot, ON_avg_ptot]})

indexed_df = panal_gender_df.set_index("Gender")
indexed_df["Average Purchase Price"] = indexed_df["Average Purchase Price"].apply(lambda avgpp: f"${avgpp}")
indexed_df["Total Purchase Value"] = indexed_df["Total Purchase Value"].apply(lambda tpv: f"${tpv}")
indexed_df["Avg Total Purchase per Person"] = indexed_df["Avg Total Purchase per Person"].apply(lambda avgpt: f"${avgpt}")
indexed_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [366]:
# Age Demographics

pymoli_df["Age"].min()

7

In [367]:
pymoli_df["Age"].max()

45

In [368]:
# average purchase price by age group

# creating age categories by binning
df_bin = (pd.cut(pymoli_df["Age"], bins=[5, 10, 15, 20, 25, 30, 35, 40, 46], labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], right=False))
df_bin

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [369]:
# total count of players per age group
play_ct_age = pymoli_df.groupby(df_bin)["SN"].nunique()
play_ct_age

Age
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [370]:
# percentage of players per age group
play_pt_age = round((((pymoli_df.groupby(df_bin)["SN"].nunique()) / tot_play_count)*100), 2)
play_pt_age

Age
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [371]:
# age demographic table

age_demo_df = pd.DataFrame({"Total Count":play_ct_age,
                     "Percentage of Players":play_pt_age})

age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:,.2f}%".format)
# pop_item_df["Total Purchase Value"] = pop_item_df["Total Purchase Value"].map("${:,.2f}".format)
age_demo_df

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [372]:
# purchase count by age
pur_ct_age = pymoli_df.groupby(df_bin)["Purchase ID"].nunique()

# avg purchase price by age
avg_pp_age = round((pymoli_df.groupby(df_bin)["Price"].mean()), 2).apply(lambda avg_pp_age: f"${avg_pp_age}")
avg_pp_age

Age
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29     $2.9
30-34    $2.93
35-39     $3.6
40+      $2.94
Name: Price, dtype: object

In [373]:
# total purchase value by age
tpv_age = (pymoli_df.groupby(df_bin)["Price"].sum()).map("${:,.2f}".format)
tpv_age

Age
<10         $77.13
10-14       $82.78
15-19      $412.89
20-24    $1,114.06
25-29      $293.00
30-34      $214.00
35-39      $147.67
40+         $38.24
Name: Price, dtype: object

In [374]:
# number of people per age group
peop_age = pymoli_df.groupby(df_bin)["SN"].nunique()

# average purchase total per person by age group
avg_pp_age = ((pymoli_df.groupby(df_bin)["Price"].sum())/peop_age).map("${:,.2f}".format)
avg_pp_age

Age
<10      $4.54
10-14    $3.76
15-19    $3.86
20-24    $4.32
25-29    $3.81
30-34    $4.12
35-39    $4.76
40+      $3.19
dtype: object

In [375]:
# purchasing analysis table (by age)

panal_age_df = pd.DataFrame({"Purchase Count":pur_ct_age, 
                "Average Purchase Price":avg_pp_age,
                "Total Purchase Value":tpv_age,
                "Avg Total Purchase per Person":avg_pp_age})

panal_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$4.54,$77.13,$4.54
10-14,28,$3.76,$82.78,$3.76
15-19,136,$3.86,$412.89,$3.86
20-24,365,$4.32,"$1,114.06",$4.32
25-29,101,$3.81,$293.00,$3.81
30-34,73,$4.12,$214.00,$4.12
35-39,41,$4.76,$147.67,$4.76
40+,13,$3.19,$38.24,$3.19

In [376]:
# Top Spenders

# group and count purchase data by screen name 
spender_count_df = pd.DataFrame(pymoli_df.groupby("SN").count())

# count total purchases by name to get total purchase value
spender_sum_df = pd.DataFrame(pymoli_df.groupby("SN").sum())

# sort by descending total purchase value
spender_sort_df = spender_sum_df.sort_values(["Price"], ascending=False)

In [377]:
# calculate final data fields and format
spender_sort_df["Purchase Count"] = spender_count_df["Item ID"]
spender_sort_df["Average Purchase Price"] = round(spender_sort_df["Price"]/spender_sort_df["Purchase Count"],2).map("${:,.2f}".format)
spender_sort_df["Total Purchase Value"] = spender_sort_df["Price"].map("${:,.2f}".format)

In [378]:
# drop extra columns
spender_sort_df = spender_sort_df.drop(labels = ["Purchase ID", "Age", "Item ID", "Price"], axis = 1)

# top 5 spenders
spender_sort_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [379]:
# Most Popular Items

# group by item ID and item name
item_count_df = pd.DataFrame(pymoli_df.groupby(["Item ID", "Item Name"]).count())
item_sum_df = pd.DataFrame(pymoli_df.groupby(["Item ID", "Item Name"]).sum())

In [380]:
# calculate final data fields
item_count_df["Purchase Count"] = item_count_df["SN"]
item_count_df["Item Price"] = round(item_sum_df["Price"]/item_count_df["SN"], 2)
item_count_df["Total Purchase Value"] = item_sum_df["Price"]

# sort by purchase count in descending order, and also by total purchase value assuming duplicates 
item_sort_df = item_count_df.sort_values(["Purchase Count", "Total Purchase Value"], ascending=False)

In [381]:
# drop extra column fields
pop_item_df = item_sort_df.drop(labels = ["Purchase ID", "Age", "Gender", "Price", "SN"], axis = 1)

# format columns and print table
pop_item_df["Item Price"] = pop_item_df["Item Price"].map("${:,.2f}".format)
pop_item_df["Total Purchase Value"] = pop_item_df["Total Purchase Value"].map("${:,.2f}".format)
pop_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04

In [382]:
# Most Profitable Items

# sort by total purchase value in descending order
item_sort_df = item_count_df.sort_values(["Total Purchase Value"], ascending=False)

In [383]:
# drop extra column fields
prof_item_df = item_sort_df.drop(labels = ["Purchase ID", "Age", "Gender", "Price", "SN"], axis = 1)

# format columns and print table
prof_item_df["Item Price"] = prof_item_df["Item Price"].map("${:,.2f}".format)
prof_item_df["Total Purchase Value"] = prof_item_df["Total Purchase Value"].map("${:,.2f}".format)
prof_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80